<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">
      <%- include('partials/introduction') %>

      <%- include('partials/activities') %>

      <%- include('partials/open-source') %>

      <%- include('partials/future') %>

      <%- include('partials/disclaimer') %>
    </div>
  </body>
</html>
