<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">
      <%- include('partials/introduction') %>

      <%- include('partials/activities') %>

      <%- include('partials/projects') %>

      <%- include('partials/future') %>

      <%- include('partials/disclaimer') %>

      <script src="https://unpkg.com/scrollreveal"></script>
      <script>
        ScrollReveal().reveal('.section');
      </script>
    </div>
  </body>
</html>
