<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">
      <%- include('partials/introduction') %>

      <%- include('partials/activities') %>

      <%- include('partials/projects') %>

      <%- include('partials/future') %>

      <%- include('partials/disclaimer') %>
    </div>

    <script>
      ScrollReveal().reveal('.section');
    </script>
  </body>
</html>
